.main-side-container {
  width: 70%;
  margin-top: 20px;
}
.dashbor-text {
  font-size: 20px;
  font-weight: 800;
  color: var(--dark-secondary-blue);
}
.simple-icon {
  display: flex;
  gap: 5px;
  align-items: center;
}
.dashbor-simple {
  font-size: 15px;
  font-weight: 600;
  color: var(--dark-light-blue);
}
.dashbor-simple span {
  color: var(--primary-green);
  font-weight: 700;
}
.dashboard-main-box {
  width: 800px;
  border-radius: 8px;
  border: 1px solid #d5d8dc;
  background: #fff;
  padding: 30px 0;
  margin-top: 20px;
}
.dash-category-row {
  display: flex;
  gap: 30px;
  width: 100%;
  flex-wrap: wrap;
}
.dash-each-category {
  border: none;
  border-left: 2px solid #f0f7ff;
  padding-left: 15px;
  width: 230px;
  margin-bottom: 20px;
}
.del {
  border-left: none;
}
.category-title {
  font-size: 16px;
  font-weight: 700;
  color: var(--dark-tertiary-blue);
}
.category-number {
  font-size: 23px;
  font-weight: 800;
  color: var(--dark-secondary-blue);
}
.tot-count {
  color: var(--secondary-blue) !important;
}
.complete {
  color: var(--primary-green);
}
.cancel {
  color: var(--primary-red);
}
