.dash-sidebar-container {
  width: 20%;
  background: #fff;
  box-shadow: 4px 0px 20px 0px rgba(0, 0, 0, 0.1);
  padding-top: 20px;
}
.sidebar-box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.sidebar-item-box {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 700;
  color: #2e486b;
  padding: 9px 0;
  padding-left: 6em;
}
.sidebar-item-box:hover {
  background: #ca0505;
  color: #fff;
  width: 100%;
}
.logout-box {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 700;
  color: #ca0505;
  padding-left: 6em;
  margin-top: 30px;
}
