.with {
  margin-top: 10px;
}
.navig-wallet-cont {
  display: flex;
  gap: 10px;
}
.navig-each {
  width: 70px;
  border-radius: 8px;
  border: 1px solid #d1d8e0;
  font-size: 14px;
  font-weight: 700;
  color: #2e486b;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  cursor: pointer;
}
.waal-act {
  background: #004399;
  color: #f0f7ff;
}
