.input {
   &-box input {
      background: #FFFFFF;
      border: 1.5px solid #94A3B8;
      border-radius: 8px 0px 0px 8px;
      outline: none;
      padding-left: 0.75rem/* 12px */;
   }

   &-btn {
      width: 25%;
      height: 45px;
      background: #CA0505;
      border: 1px solid #CA0505;
      border-radius: 0px 8px 8px 0px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      color: var(--color-white);
   }
}