.dash-navigator-container {
  display: none;
  z-index: 1111111;
}
@media only screen and (max-width: 800px) {
  .dash-navigator-container {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .each-navigator {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 15px;
    color: #1f3047;
    font-weight: 600;
    position: relative;
  }
  .navgi-icon {
    font-size: 23px;
  }
  .msg-cnt {
    background: #002c66;
    width: 16px;
    height: 16px;
    border-radius: 40px;
    font-size: 10px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 15px;
    top: -1px;
  }
}
