.dash-footer-container {
  background: var(--dark-primary-blue);
  color: #fff;
  justify-content: space-between;
  padding: 5px 8rem;
  align-items: center;
}
@media only screen and (max-width: 700px) {
  .dash-footer-container {
    padding: 5px 2rem;
  }
}
@media only screen and (max-width: 450px) {
  .dash-footer-container {
    padding: 5px 2rem;
    flex-direction: column;
    gap: 10px;
  }
}
