@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-red:#CA0505;
  --secondary-red:#F52424;
  --tertiary-red:#FA9E9E;
  --light-red:#FEF0F0;
  /* Blue */
  --primary-blue:#002C66;
  --secondary-blue:#004399;
  --tertiary-blue:#99C5FF;
  --light-blue:#F0F7FF;

   /*Green  */
   --primary-green:#017E4D;
   --secondary-green:#02BD73;
   --tertiary-green:#9AFED6;

   /*Orange  */
   --primary-orange:#EB8918;
   --secondary-orange:#EF9F43;
   --tertiary-orange:#F7CFA1;

   /*Dark blue  */
   --dark-primary-blue:#001229;
   --dark-secondary-blue:#1F3047;
   --dark-tertiary-blue:#2E486B;
   --dark-light-blue:#94A3B8;

   /* Common Colors */
   --color-white:#FFFFFF;
   --color-BLACK:#000000;
   --color-grey:#eee;
    /* padding */
    --site-pad-top-desktop:10px;
}
* > * {
    font-family: 'Mulish';
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mulish' !important;
    background: #F0F7FF;  
}



.border-gray-1 {
    border: 1.5px solid #b6b6b6;
}
.text-primary {
    color: var(--dark-primary-blue);
}
.text-secondary {
    color: var(--dark-secondary-blue);
}
.text-tertiary {
    color: var(--dark-tertiary-blue);
}
.text-blue-light {
    color:var(--dark-light-blue);
}

.btn-default {
    width: 280px;
    height: 62px;
    color:var(--color-white);
    border-radius: 8px;
}

.btn-default-full {
    width: 50%;
    height: 62px;
    color:var(--color-white);
    border-radius: 8px;
}

.btn-default-small {
    width: 280px;
    height: 42px;
    color:var(--color-white);
    border-radius: 8px;
}
.btn-outline {
    width: 101px;
    height: 40px;
    color:var(--secondary-red);
    border-radius: 8px;
    border: 1px solid var(--secondary-red);
}
.btn-outline:hover {
    background-color: var(--secondary-red);
    color: var(--color-white);
}

.bg-blue-secondary {
    background-color: var(--secondary-blue);
}

.bg-red-primary {
    background-color: var(--primary-red);
}

.bg-red-secondary {
    background-color: var(--secondary-red);
}

.border-bottom-red {
    border-bottom: 2px solid var(--primary-red);
}

.border-gray-bottom {
    border-bottom: 1px solid #F0F7FF;
}

.border-gray-bottom-top {
    border-bottom: 1px solid #F0F7FF;
    border-top: 1px solid #F0F7FF;
}

.border-gray-full {
    border: 1.5px solid #94A3B8;
}

.blur-bg {
    backdrop-filter: blur(5px);
}


.bg-gray-hover:hover {
    width: 30px;
    height: 30px;
    background: #F0F7FF;
    border-radius: 24px;
    backface-visibility: hidden;
    @apply flex justify-center items-center
}

.select-field * {
    background-color: #fcfcfc;
    border: none;
    @apply rounded-md
}

::-webkit-scrollbar {
    width: 5px;
}


::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 50px;
}
