.um-sign {


    &-bg {
        background: #F0F7FF;
        min-height: 100vh;
    }

    &-badge {
        display: flex;
        @apply items-center text-sm gap-2;
        height: 50px;
        @apply sm:px-24 px-4;
    }

    &-box {
        @apply h-full w-full py-12 sm:px-0 px-3 flex justify-center items-center;
    }

    &-form {
        @apply sm:p-8 p-4 bg-white;
        width: 610px;
        border-radius: 8px;
    }

    &-field {
        height: 52px;
        @apply pl-4;
        border: 1.5px solid #94A3B8;
        border-radius: 8px;
        outline: none;

        &-dropdown {
            @apply flex justify-between items-center pr-1 pl-4;
            height: 52px;
            border: 1.5px solid #94A3B8;
            border-radius: 8px;
            outline: none;
        }
    }

    &-icon {
        position: absolute;
        top: 40%;
        right: 3%;
        transform: translateY(-50%);
        cursor: pointer;

    }

    &-checkbox {
        width: 12px;
        height: 12px;
        // border: 2px solid #2E486B;
        display: inline-block;
        border-radius: 2px;
        display: flex;
        @apply items-center justify-center;
        background: var(--primary-red);
        color: var(--color-white);
        font-size: 12px;
    }
    &-agree {
        font-weight: 500;
        font-size: 14px;
    }
}